

    <!-- LINK  -->
    <section class="mt-1 ">
        <div class="container">
            <div class="row">
                <!-- FILTER LIST -->
                <div class="row align-items-center mb-2 mt-4">
                    <div class="col-12 col-md">

                        <nav class="mt-1 filter_fz fz-sm" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a class="text-gray-500 link_page "
                                        href="#!">Home</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    <a class="text-gray-500 link_page" href="#!contact">Contact Us</a>
                                </li>
                            </ol>
                        </nav>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="py-5">
        <div class="container">
            <!-- Title -->
            <div class="row mb-4">
                <div class="col-12">
                    <h3 class="mb-4 text-center">Contact Us</h3>
                </div>
            </div>

            <div ng-show="!user" class="d-flex justify-content-center py-5 fz-lg fw-semibold">
                <p><i class="fa-solid fa-message"></i> You need to <a href="#!login" class="text-danger">Login</a> to contact </p>
            </div>
            <div class="row justify-content-between"  ng-hide="!user">

                <div class="col-12 col-md-4 col-xl-3">
                    <div class="mb-5 mb-md-0">
                        <h6 class="mb-4 fz"><i class="fa-solid fa-phone text-danger"></i> Call to Us:</h6>
                        <p class="text-gray-500 fz-sm">
                            We're available from 10 am - 10 pm EST,
                            7 days a week.
                        </p>

                        <p>
                            <h6 class="fz">Customer Service:</h6>
                            <a href="#" class="text-gray-500 fz-sm">6-146-389-574</a>
                        </p>

                        <p>
                            <h6 class="fz">Careers:</h6>
                            <a href="#" class="text-gray-500 fz-sm">6-146-389-574</a>
                        </p>
                    </div>

                    <hr>

                    <div class="mb-5 mb-md-0">
                        <h6 class="mb-4 fz"><i class="fa-regular fa-envelope text-danger"></i> Write to Us:</h6>
                        <p class="text-gray-500 fz-sm">
                            Fill out our form and we will contact you within 24 hours.
                        </p>

                        <p>
                            <h6 class="fz">Customer Service:</h6>
                            <a href="#" class="text-gray-500 fz-sm">customer@example.com</a>
                        </p>

                        <p>
                            <h6 class="fz">Careers:</h6>
                            <a href="#" class="text-gray-500 fz-sm">customer@example.com</a>
                        </p>
                    </div>
                    <hr>

                    <div class="mb-5 mb-md-0">
                        <h6 class="mb-4 fz"><i class="fa-solid fa-location-dot text-danger"></i> Find Us:</h6>
                        <p class="text-gray-500 fz-sm">
                            Want to visit our Offline Stores?
                        </p>

                        <a href="#" class="fw-semibold text-reset fz-sm">Go to Store Locator <i class="fa-solid fa-arrow-right"></i></a>

                    
                    </div>


                </div>

                <!-- FORM CONTACT -->
                <div class="col-12 col-md-8">
                        <form ng-submit="contact()">
                        <div class="form-group mb-4">
                            <label for="name" class="visually-hidden">Your Name *</label>
                            <input type="text" name="" class="form-control " id="" placeholder="Your Name *" required ng-model="name">
                        </div>
    
                        <div class="form-group mb-4">
                            <label for="name" class="visually-hidden">Your Email *</label>
                            <input type="email" name="" class="form-control " id="" placeholder="Your Email *" required ng-model="email">
                        </div>
    
                        <div class="form-group mb-4">
                            <label for="name" class="visually-hidden">Your Title *</label>
                            <input type="text" name="" class="form-control " id="" placeholder="Your Title *" required ng-model="title">
                        </div>
    
                        <div class="form-group mb-4">
                            <label for="name" class="visually-hidden">Your Message *</label>
                            <textarea type="text" name="" class="form-control pb-5" id="" placeholder="Message *" required ng-model="message"></textarea>
                        </div>
    
                        <button type="submit" class="btn btn-outline-dark button text-bg-dark btn-dark">Send Message</button>
                        
                    </form>
                    </div>
            </div>
        </div>
    </section>
