
    <!-- LINK  -->
    <section class="mt-1 ">
        <div class="container">
            <div class="row">
                <!-- FILTER LIST -->
                <div class="row align-items-center mb-2 mt-4">
                    <div class="col-12 col-md">

                        <nav class="mt-1 filter_fz fz-sm" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a class="text-gray-500 link_page "
                                        href="#!">Home</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    <a class="text-gray-500 link_page" href="#!faq">FAQ</a>
                                </li>
                            </ol>
                        </nav>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="py-5">
        <div class="container">
            <!-- Title -->
            <div class="row justify-content-center">
                <div class="col-12 col-lg-10 col-xl-8">
                    <h3 class="mb-4 text-center">Frequently Asked Questions</h3>

                    <!-- order question -->
                    <h5 class="mb-4">Orders:</h5>
                    <ul class="list-group list-group-flush mb-5" id="faqCollapseParentOne">
                        <!-- Qus1 -->
                        <li class="list-group-item border border-start-0 border-end-0 p-4">
                            <a class="fz text-reset fw-medium d-flex justify-content-between" data-bs-toggle="collapse"
                                href="#q1" role="button" aria-expanded="false" aria-controls="q1">
                                1. Bring of had which their whose you're it own? <i
                                    class="fa-solid fa-angle-down text-gray-400"></i>
                            </a>

                            <div class="collapse" id="q1">
                                <p class="mb-0 mt-2 text-gray-500">
                                    Saw wherein fruitful good days image them, midst, waters upon, saw. Seas lights
                                    seasons. Fourth
                                    hath rule creepeth own lesser years itself so seed fifth for grass.
                                </p>
                            </div>
                        </li>

                        <!-- Qus2 -->
                        <li class="list-group-item border border-start-0 border-end-0 p-4">
                            <a class="fz text-reset fw-medium d-flex justify-content-between" data-bs-toggle="collapse"
                                href="#q2" role="button" aria-expanded="false" aria-controls="q2">
                                2. What is on your bucket list? <i class="fa-solid fa-angle-down text-gray-400"></i>
                            </a>

                            <div class="collapse" id="q2">
                                <p class="mb-0 mt-2 text-gray-500">
                                    Saw wherein fruitful good days image them, midst, waters upon, saw. Seas lights
                                    seasons. Fourth
                                    hath rule creepeth own lesser years itself so seed fifth for grass.
                                </p>
                            </div>
                        </li>

                        <!-- Qus3 -->
                        <li class="list-group-item border border-start-0 border-end-0 p-4">
                            <a class="fz text-reset fw-medium d-flex justify-content-between" data-bs-toggle="collapse"
                                href="#q3" role="button" aria-expanded="false" aria-controls="q3">
                                3. What are you most thankful for? <i class="fa-solid fa-angle-down text-gray-400"></i>
                            </a>

                            <div class="collapse" id="q3">
                                <p class="mb-0 mt-2 text-gray-500">
                                    Saw wherein fruitful good days image them, midst, waters upon, saw. Seas lights
                                    seasons. Fourth
                                    hath rule creepeth own lesser years itself so seed fifth for grass.
                                </p>
                            </div>
                        </li>

                        <!-- Qus4 -->
                        <li class="list-group-item border border-start-0 border-end-0 p-4">
                            <a class="fz text-reset fw-medium d-flex justify-content-between" data-bs-toggle="collapse"
                                href="#q4" role="button" aria-expanded="false" aria-controls="q4">
                                4. What is your biggest regret in life? <i
                                    class="fa-solid fa-angle-down text-gray-400"></i>
                            </a>

                            <div class="collapse" id="q4">
                                <p class="mb-0 mt-2 text-gray-500">
                                    Saw wherein fruitful good days image them, midst, waters upon, saw. Seas lights
                                    seasons. Fourth
                                    hath rule creepeth own lesser years itself so seed fifth for grass.
                                </p>
                            </div>
                        </li>


                        <!-- Qus5 -->
                        <li class="list-group-item border border-start-0 border-end-0 p-4">
                            <a class="fz text-reset fw-medium d-flex justify-content-between" data-bs-toggle="collapse"
                                href="#q5" role="button" aria-expanded="false" aria-controls="q5">
                                5.What are you most afraid of? <i class="fa-solid fa-angle-down text-gray-400"></i>
                            </a>

                            <div class="collapse" id="q5">
                                <p class="mb-0 mt-2 text-gray-500">
                                    Saw wherein fruitful good days image them, midst, waters upon, saw. Seas lights
                                    seasons. Fourth
                                    hath rule creepeth own lesser years itself so seed fifth for grass.
                                </p>
                            </div>
                        </li>

                        <!-- Qus6 -->
                        <li class="list-group-item border border-start-0 border-end-0 p-4">
                            <a class="fz text-reset fw-medium d-flex justify-content-between" data-bs-toggle="collapse"
                                href="#q6" role="button" aria-expanded="false" aria-controls="q6">
                                6. What do you feel most passionate about? <i
                                    class="fa-solid fa-angle-down text-gray-400"></i>
                            </a>

                            <div class="collapse" id="q6">
                                <p class="mb-0 mt-2 text-gray-500">
                                    Saw wherein fruitful good days image them, midst, waters upon, saw. Seas lights
                                    seasons. Fourth
                                    hath rule creepeth own lesser years itself so seed fifth for grass.
                                </p>
                            </div>
                        </li>


                    </ul>

                    <!-- Shipping & Returns: -->
                    <h5 class="mb-4">Shipping & Return:</h5>
                    <ul class="list-group list-group-flush mb-5" id="faqCollapseParentTwo">
                        <!-- Qus1 -->
                        <li class="list-group-item border border-start-0 border-end-0 p-4">
                            <a class="fz text-reset fw-medium d-flex justify-content-between" data-bs-toggle="collapse"
                                href="#q1-2" role="button" aria-expanded="false" aria-controls="q1-2">
                                1. Bring of had which their whose you're it own? <i
                                    class="fa-solid fa-angle-down text-gray-400"></i>
                            </a>

                            <div class="collapse" id="q1-2">
                                <p class="mb-0 mt-2 text-gray-500">
                                    Saw wherein fruitful good days image them, midst, waters upon, saw. Seas lights
                                    seasons. Fourth
                                    hath rule creepeth own lesser years itself so seed fifth for grass.
                                </p>
                            </div>
                        </li>

                        <!-- Qus2 -->
                        <li class="list-group-item border border-start-0 border-end-0 p-4">
                            <a class="fz text-reset fw-medium d-flex justify-content-between" data-bs-toggle="collapse"
                                href="#q2-2" role="button" aria-expanded="false" aria-controls="q2-2">
                                2. What is on your bucket list? <i class="fa-solid fa-angle-down text-gray-400"></i>
                            </a>

                            <div class="collapse" id="q2-2">
                                <p class="mb-0 mt-2 text-gray-500">
                                    Saw wherein fruitful good days image them, midst, waters upon, saw. Seas lights
                                    seasons. Fourth
                                    hath rule creepeth own lesser years itself so seed fifth for grass.
                                </p>
                            </div>
                        </li>

                        <!-- Qus3 -->
                        <li class="list-group-item border border-start-0 border-end-0 p-4">
                            <a class="fz text-reset fw-medium d-flex justify-content-between" data-bs-toggle="collapse"
                                href="#q3-2" role="button" aria-expanded="false" aria-controls="q3-2">
                                3. What are you most thankful for? <i class="fa-solid fa-angle-down text-gray-400"></i>
                            </a>

                            <div class="collapse" id="q3-2">
                                <p class="mb-0 mt-2 text-gray-500">
                                    Saw wherein fruitful good days image them, midst, waters upon, saw. Seas lights
                                    seasons. Fourth
                                    hath rule creepeth own lesser years itself so seed fifth for grass.
                                </p>
                            </div>
                        </li>

                        <!-- Qus4 -->
                        <li class="list-group-item border border-start-0 border-end-0 p-4">
                            <a class="fz text-reset fw-medium d-flex justify-content-between" data-bs-toggle="collapse"
                                href="#q4-2" role="button" aria-expanded="false" aria-controls="q4-2">
                                4. What is your biggest regret in life? <i
                                    class="fa-solid fa-angle-down text-gray-400"></i>
                            </a>

                            <div class="collapse" id="q4-2">
                                <p class="mb-0 mt-2 text-gray-500">
                                    Saw wherein fruitful good days image them, midst, waters upon, saw. Seas lights
                                    seasons. Fourth
                                    hath rule creepeth own lesser years itself so seed fifth for grass.
                                </p>
                            </div>
                        </li>


                        <!-- Qus5 -->
                        <li class="list-group-item border border-start-0 border-end-0 p-4">
                            <a class="fz text-reset fw-medium d-flex justify-content-between" data-bs-toggle="collapse"
                                href="#q5-2" role="button" aria-expanded="false" aria-controls="q5-2">
                                5.What are you most afraid of? <i class="fa-solid fa-angle-down text-gray-400"></i>
                            </a>

                            <div class="collapse" id="q5-2">
                                <p class="mb-0 mt-2 text-gray-500">
                                    Saw wherein fruitful good days image them, midst, waters upon, saw. Seas lights
                                    seasons. Fourth
                                    hath rule creepeth own lesser years itself so seed fifth for grass.
                                </p>
                            </div>
                        </li>

                        <!-- Qus6 -->
                        <li class="list-group-item border border-start-0 border-end-0 p-4">
                            <a class="fz text-reset fw-medium d-flex justify-content-between" data-bs-toggle="collapse"
                                href="#q6-2" role="button" aria-expanded="false" aria-controls="q6-2">
                                6. What do you feel most passionate about? <i
                                    class="fa-solid fa-angle-down text-gray-400"></i>
                            </a>

                            <div class="collapse" id="q6-2">
                                <p class="mb-0 mt-2 text-gray-500">
                                    Saw wherein fruitful good days image them, midst, waters upon, saw. Seas lights
                                    seasons. Fourth
                                    hath rule creepeth own lesser years itself so seed fifth for grass.
                                </p>
                            </div>
                        </li>


                    </ul>

                </div>
            </div>
        </div>
    </section>
