<!-- SECTION PRODUCT -->
<section class="py-5">
    <div class="container">
        <div class="row">

            <!-- Filter -->
            <div class="col-12 col-md-4 col-lg-3">
                <ul class="list-group">
                    <!-- ----------------------------------CATEGORY------------------------------------ -->
                    <li class="sidebar-item list-unstyled">
                        <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                            data-bs-target="#category" aria-expanded="false" aria-controls="category">
                            <span class="submenu_title">Category</span>
                            <i class="fa-solid fa-angle-down opacity-50"></i>
                        </a>

                        <ul id="category" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">

                            <li class="sub_sidebar-item mt-2">

                                <a href="#"
                                    class="sub_sidebar-link collapsed d-flex align-items-center justify-content-between"
                                    data-bs-toggle="collapse" data-bs-target="#category-two" aria-expanded="false"
                                    aria-controls="category-two">
                                    Shoes
                                    <i class="fa-solid fa-angle-down opacity-25"></i>
                                </a>

                                <ul id="category-two" class="sidebar-dropdown list-unstyled collapse">
                                    <div class="checkbox-list">
                                        <div class="form-check">
                                            <input class="form-check-input sub_sidebar-link sub_sidebar-item-2"
                                                type="checkbox" value="" id="checkbox1">
                                            <label class="form-check-label sub_sidebar-link sub_sidebar-item-2"
                                                for="checkbox1">Sandals</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input sub_sidebar-link sub_sidebar-item-2"
                                                type="checkbox" value="" id="checkbox2">
                                            <label class="form-check-label sub_sidebar-link sub_sidebar-item-2"
                                                for="checkbox2">Sneaker</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input sub_sidebar-link sub_sidebar-item-2"
                                                type="checkbox" value="" id="checkbox2">
                                            <label class="form-check-label sub_sidebar-link sub_sidebar-item-2"
                                                for="checkbox2">High Heels</label>
                                        </div>
                                    </div>
                                </ul>
                            </li>
                            <li class="sub_sidebar-item mt-2">
                                <a href="#"
                                    class="sub_sidebar-link collapsed d-flex align-items-center justify-content-between"
                                    data-bs-toggle="collapse" data-bs-target="#category-three" aria-expanded="false"
                                    aria-controls="category-three">
                                    Dresses
                                    <i class="fa-solid fa-angle-down opacity-25"></i>
                                </a>
                                <ul id="category-three" class="sidebar-dropdown list-unstyled collapse">
                                    <div class="checkbox-list">
                                        <div class="form-check">
                                            <input class="form-check-input sub_sidebar-link sub_sidebar-item-2"
                                                type="checkbox" value="" id="checkbox3">
                                            <label class="form-check-label sub_sidebar-link sub_sidebar-item-2"
                                                for="checkbox3">A-line Dresses</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input sub_sidebar-link sub_sidebar-item-2"
                                                type="checkbox" value="" id="checkbox4">
                                            <label class="form-check-label sub_sidebar-link sub_sidebar-item-2"
                                                for="checkbox4">Shift Dresses</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input sub_sidebar-link sub_sidebar-item-2"
                                                type="checkbox" value="" id="checkbox4">
                                            <label class="form-check-label sub_sidebar-link sub_sidebar-item-2"
                                                for="checkbox5">Wrap Dresses</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input sub_sidebar-link sub_sidebar-item-2"
                                                type="checkbox" value="" id="checkbox4">
                                            <label class="form-check-label sub_sidebar-link sub_sidebar-item-2"
                                                for="checkbox6">Maxi Dresses</label>
                                        </div>
                                    </div>
                                </ul>
                            </li>

                            <li class="sub_sidebar-item mt-2">
                                <a href="#"
                                    class="sub_sidebar-link collapsed d-flex align-items-center justify-content-between"
                                    data-bs-toggle="collapse" data-bs-target="#category-4" aria-expanded="false"
                                    aria-controls="category-4">
                                    Jeans
                                    <i class="fa-solid fa-angle-down opacity-25"></i>
                                </a>
                                <ul id="category-4" class="sidebar-dropdown list-unstyled collapse">
                                    <div class="checkbox-list">
                                        <div class="form-check">
                                            <input class="form-check-input sub_sidebar-link sub_sidebar-item-2"
                                                type="checkbox" value="" id="checkbox3">
                                            <label class="form-check-label sub_sidebar-link sub_sidebar-item-2"
                                                for="checkbox3">Men Jeans</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input sub_sidebar-link sub_sidebar-item-2"
                                                type="checkbox" value="" id="checkbox4">
                                            <label class="form-check-label sub_sidebar-link sub_sidebar-item-2"
                                                for="checkbox4">Men Big & Tall Jeans</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input sub_sidebar-link sub_sidebar-item-2"
                                                type="checkbox" value="" id="checkbox4">
                                            <label class="form-check-label sub_sidebar-link sub_sidebar-item-2"
                                                for="checkbox4">Suft, Skate & Streer Clothing</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input sub_sidebar-link sub_sidebar-item-2"
                                                type="checkbox" value="" id="checkbox4">
                                            <label class="form-check-label sub_sidebar-link sub_sidebar-item-2"
                                                for="checkbox4">Men Big & Tall Pants</label>
                                        </div>
                                    </div>
                                </ul>
                            </li>

                            <li class="sub_sidebar-item mt-2">
                                <a href="#"
                                    class="sub_sidebar-link collapsed d-flex align-items-center justify-content-between"
                                    data-bs-toggle="collapse" data-bs-target="#category-5" aria-expanded="false"
                                    aria-controls="category-5">
                                    Denim
                                    <i class="fa-solid fa-angle-down opacity-25"></i>
                                </a>
                                <ul id="category-5" class="sidebar-dropdown list-unstyled collapse">
                                    <div class="checkbox-list">
                                        <div class="form-check">
                                            <input class="form-check-input sub_sidebar-link sub_sidebar-item-2"
                                                type="checkbox" value="" id="checkbox3">
                                            <label class="form-check-label sub_sidebar-link sub_sidebar-item-2"
                                                for="checkbox3">Women Shorts</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input sub_sidebar-link sub_sidebar-item-2"
                                                type="checkbox" value="" id="checkbox4">
                                            <label class="form-check-label sub_sidebar-link sub_sidebar-item-2"
                                                for="checkbox4">Juniors' Shorts</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input sub_sidebar-link sub_sidebar-item-2"
                                                type="checkbox" value="" id="checkbox4">
                                            <label class="form-check-label sub_sidebar-link sub_sidebar-item-2"
                                                for="checkbox4">Petite</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input sub_sidebar-link sub_sidebar-item-2"
                                                type="checkbox" value="" id="checkbox4">
                                            <label class="form-check-label sub_sidebar-link sub_sidebar-item-2"
                                                for="checkbox4">Women Plus Shorts</label>
                                        </div>
                                    </div>
                                </ul>
                            </li>

                            <li class="sub_sidebar-item mt-2">
                                <a href="#"
                                    class="sub_sidebar-link collapsed d-flex align-items-center justify-content-between"
                                    data-bs-toggle="collapse" data-bs-target="#category-6" aria-expanded="false"
                                    aria-controls="category-6">
                                    Coats and Jackets
                                    <i class="fa-solid fa-angle-down opacity-25"></i>
                                </a>
                                <ul id="category-6" class="sidebar-dropdown list-unstyled collapse">
                                    <div class="checkbox-list">
                                        <div class="form-check">
                                            <input class="form-check-input sub_sidebar-link sub_sidebar-item-2"
                                                type="checkbox" value="" id="checkbox3">
                                            <label class="form-check-label sub_sidebar-link sub_sidebar-item-2"
                                                for="checkbox3">Coats, Jackets & Vests</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input sub_sidebar-link sub_sidebar-item-2"
                                                type="checkbox" value="" id="checkbox4">
                                            <label class="form-check-label sub_sidebar-link sub_sidebar-item-2"
                                                for="checkbox4">Down Jackets & Parkas</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input sub_sidebar-link sub_sidebar-item-2"
                                                type="checkbox" value="" id="checkbox4">
                                            <label class="form-check-label sub_sidebar-link sub_sidebar-item-2"
                                                for="checkbox4">Wool & Pea Coats Plus-Size</label>
                                        </div>
                                    </div>
                                </ul>
                            </li>
                        </ul>
                    </li>


                    <!-- -----------------------------------SEASON-------------------------------------------- -->
                    <li class="sidebar-item list-unstyled">
                        <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                            data-bs-target="#season" aria-expanded="false" aria-controls="season">
                            <span class="submenu_title">Season</span>
                            <i class="fa-solid fa-angle-down opacity-50"></i>
                        </a>

                        <ul id="season" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">

                            <div class="checkbox-list">
                                <div class="form-check">
                                    <input class="form-check-input sub_sidebar-link sub_sidebar-item-2" type="checkbox"
                                        value="" id="checkbox1">
                                    <label class="form-check-label sub_sidebar-link sub_sidebar-item-2"
                                        for="checkbox1">Spring</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input sub_sidebar-link sub_sidebar-item-2" type="checkbox"
                                        value="" id="checkbox2">
                                    <label class="form-check-label sub_sidebar-link sub_sidebar-item-2"
                                        for="checkbox2">Summer</label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input sub_sidebar-link sub_sidebar-item-2" type="checkbox"
                                        value="" id="checkbox2">
                                    <label class="form-check-label sub_sidebar-link sub_sidebar-item-2"
                                        for="checkbox2">Fall</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input sub_sidebar-link sub_sidebar-item-2" type="checkbox"
                                        value="" id="checkbox2">
                                    <label class="form-check-label sub_sidebar-link sub_sidebar-item-2"
                                        for="checkbox2">Winter</label>
                                </div>
                            </div>
                        </ul>
                    </li>


                    <!-- -----------------------------------COLOR-------------------------------------------- -->
                    <li class="sidebar-item list-unstyled">
                        <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                            data-bs-target="#color" aria-expanded="false" aria-controls="color">
                            <span class="submenu_title">Color</span>
                            <i class="fa-solid fa-angle-down opacity-50"></i>
                        </a>

                        <ul id="color" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">

                            <div class="checkbox-list">
                                <div class="form-check">
                                    <input class="form-check-input sub_sidebar-link sub_sidebar-item-2" type="checkbox"
                                        value="" id="checkbox1">
                                    <label class="form-check-label sub_sidebar-link sub_sidebar-item-2"
                                        for="checkbox1">Black</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input sub_sidebar-link sub_sidebar-item-2" type="checkbox"
                                        value="" id="checkbox2">
                                    <label class="form-check-label sub_sidebar-link sub_sidebar-item-2"
                                        for="checkbox2">Blue</label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input sub_sidebar-link sub_sidebar-item-2" type="checkbox"
                                        value="" id="checkbox2">
                                    <label class="form-check-label sub_sidebar-link sub_sidebar-item-2"
                                        for="checkbox2">White</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input sub_sidebar-link sub_sidebar-item-2" type="checkbox"
                                        value="" id="checkbox2">
                                    <label class="form-check-label sub_sidebar-link sub_sidebar-item-2"
                                        for="checkbox2">Brown</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input sub_sidebar-link sub_sidebar-item-2" type="checkbox"
                                        value="" id="checkbox2">
                                    <label class="form-check-label sub_sidebar-link sub_sidebar-item-2"
                                        for="checkbox2">Yellow</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input sub_sidebar-link sub_sidebar-item-2" type="checkbox"
                                        value="" id="checkbox2">
                                    <label class="form-check-label sub_sidebar-link sub_sidebar-item-2"
                                        for="checkbox2">Green</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input sub_sidebar-link sub_sidebar-item-2" type="checkbox"
                                        value="" id="checkbox2">
                                    <label class="form-check-label sub_sidebar-link sub_sidebar-item-2"
                                        for="checkbox2">Orange</label>
                                </div>
                            </div>
                        </ul>
                    </li>



                    <!-- -----------------------------------SIZE-------------------------------------------- -->
                    <li class="sidebar-item list-unstyled">
                        <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                            data-bs-target="#size" aria-expanded="false" aria-controls="size">
                            <span class="submenu_title">Size</span>
                            <i class="fa-solid fa-angle-down opacity-50"></i>
                        </a>

                        <ul id="size" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">

                            <div class="checkbox-list">
                                <div class="form-check">
                                    <input class="form-check-input sub_sidebar-link sub_sidebar-item-2" type="checkbox"
                                        value="" id="checkbox1">
                                    <label class="form-check-label sub_sidebar-link sub_sidebar-item-2"
                                        for="checkbox1">XS</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input sub_sidebar-link sub_sidebar-item-2" type="checkbox"
                                        value="" id="checkbox2">
                                    <label class="form-check-label sub_sidebar-link sub_sidebar-item-2"
                                        for="checkbox2">S</label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input sub_sidebar-link sub_sidebar-item-2" type="checkbox"
                                        value="" id="checkbox2">
                                    <label class="form-check-label sub_sidebar-link sub_sidebar-item-2"
                                        for="checkbox2">M</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input sub_sidebar-link sub_sidebar-item-2" type="checkbox"
                                        value="" id="checkbox2">
                                    <label class="form-check-label sub_sidebar-link sub_sidebar-item-2"
                                        for="checkbox2">L</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input sub_sidebar-link sub_sidebar-item-2" type="checkbox"
                                        value="" id="checkbox2">
                                    <label class="form-check-label sub_sidebar-link sub_sidebar-item-2"
                                        for="checkbox2">XL</label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input sub_sidebar-link sub_sidebar-item-2" type="checkbox"
                                        value="" id="checkbox2">
                                    <label class="form-check-label sub_sidebar-link sub_sidebar-item-2"
                                        for="checkbox2">XXL</label>
                                </div>
                            </div>
                        </ul>
                    </li>


                    <!-- -----------------------------------PRICE-------------------------------------------- -->
                    <li class="sidebar-item list-unstyled">
                        <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                            data-bs-target="#price" aria-expanded="false" aria-controls="price">
                            <span class="submenu_title">Price</span>
                            <i class="fa-solid fa-angle-down opacity-50"></i>
                        </a>

                        <ul id="price" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">

                            <div class="checkbox-list">
                                <div class="form-check">
                                    <input class="form-check-input sub_sidebar-link sub_sidebar-item-2" type="checkbox"
                                        value="" id="checkbox1">
                                    <label class="form-check-label sub_sidebar-link sub_sidebar-item-2"
                                        for="checkbox1">Under $49.00</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input sub_sidebar-link sub_sidebar-item-2" type="checkbox"
                                        value="" id="checkbox2">
                                    <label class="form-check-label sub_sidebar-link sub_sidebar-item-2"
                                        for="checkbox2">$49.00 - $99.00</label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input sub_sidebar-link sub_sidebar-item-2" type="checkbox"
                                        value="" id="checkbox2">
                                    <label class="form-check-label sub_sidebar-link sub_sidebar-item-2"
                                        for="checkbox2">$100 - $200</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input sub_sidebar-link sub_sidebar-item-2" type="checkbox"
                                        value="" id="checkbox2">
                                    <label class="form-check-label sub_sidebar-link sub_sidebar-item-2"
                                        for="checkbox2">$200 - $299</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input sub_sidebar-link sub_sidebar-item-2" type="checkbox"
                                        value="" id="checkbox2">
                                    <label class="form-check-label sub_sidebar-link sub_sidebar-item-2"
                                        for="checkbox2">$300 - Higher</label>
                                </div>
                                <div class="d-flex align-items-center">
                                    <input type="number" name="" class="form-control" placeholder="$10.00">
                                    <div class="text-gray-400 mx-2">-</div>
                                    <input type="number" name="" class="form-control" placeholder="$350.00">
                                </div>
                            </div>
                        </ul>
                    </li>

                </ul>
            </div>


            <div class="col-12 col-md-8 col-lg-9">
                <!-- BANNER -->
                <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>

                    <div class="carousel-inner">
                        <div class="carousel-item active c-item">
                            <img src="public/assets/image/fashion-background (1).png" class="d-block w-100 c-img"
                                alt="Slide 1">
                            <div class="carousel-caption top-0 mt-4">
                                <p class="mt-5 fs-3 text-uppercase">Spring Season</p>
                                <h1 class="display-1 fw-bolder text-capitalize">Sale of 50%</h1>
                                <a href="#!products"><button type="button"
                                        class="btn btn-info btn btn-primary px-4 py-2 fs-5 mt-4">Shop Now <i
                                            class="fa-solid fa-arrow-right-long fa-beat"></i></button>
                                </a>
                            </div>
                        </div>
                        <div class="carousel-item c-item">
                            <img src="public/assets/image/something (6).jpg" class="d-block w-100 c-img" alt="Slide 2">
                            <div class="carousel-caption top-0 mt-4">
                                <p class="text-uppercase fs-3 mt-5">Summer Season</p>
                                <p class="display-1 fw-bolder text-capitalize">Sale off 60%</p>
                                <a href="#!products"><button type="button"
                                        class="btn btn-info btn btn-primary px-4 py-2 fs-5 mt-4">Shop Now <i
                                            class="fa-solid fa-arrow-right-long fa-beat"></i></button>
                                </a>
                            </div>
                        </div>
                        <div class="carousel-item c-item">
                            <img src="public/assets/image/something (7).jpg" class="d-block w-100 c-img" alt="Slide 3">
                            <div class="carousel-caption top-0 mt-4">
                                <p class="text-uppercase fs-3 mt-5">Fall season</p>
                                <p class="display-1 fw-bolder text-capitalize">Sale off 30%</p>
                                <a href="#!products"><button type="button"
                                        class="btn btn-info btn btn-primary px-4 py-2 fs-5 mt-4">Shop Now <i
                                            class="fa-solid fa-arrow-right-long fa-beat"></i></button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

                <!-- FILTER LIST -->
                <div class="row align-items-center mb-5 mt-5">
                    <div class="col-12 col-md">
                        <h3 class="mb-1">Womens' Clothing</h3>
                        <nav class="mt-1 filter_fz" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a class="text-gray-500 link_page " href="#!">Home</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page"><a
                                        class="text-gray-500 link_page" href="#">Womens' Clothing</a></li>
                            </ol>
                        </nav>
                    </div>

                    <div class="col-12 col-md-auto">
                        <!-- <select class="form-select form-select-sm" aria-label="Small select example">
                            <option selected>Most Popular</option>
                            <button ng-click="order = 'name'">
                                <option>A-Z</option>
                            </button>
                            <button ng-click="order = '-name'">
                                <option>Z-A</option>
                            </button>
                        </select> -->

                        <select class="form-select form-select-sm" aria-label="Small select example" ng-model="order">
                            <option value="name">A-Z</option>
                            <option value="-name">Z-A</option>
                            <option value="price">Lower - Higher</option>
                            <option value="-price">Higher - Lower</option>
                        </select>
                        
                    </div>
                </div>

                <!-- SELECTED -->
                <div class="row mb-2">
                    <div class="col-12">
                        <span class="btn btn_radius btn-xs btn-light fw-light me-3 mb-3 ">
                            Sandals
                            <a href="#" class="text-reset ms-2" role="button">
                                <i class="fa-solid fa-xmark close_btn"></i>
                            </a>
                        </span>


                        <span class="btn btn_radius btn-xs btn-light fw-light me-3 mb-3 ">
                            Dresses
                            <a href="#" class="text-reset ms-2" role="button">
                                <i class="fa-solid fa-xmark close_btn"></i>
                            </a>
                        </span>

                        <span class="btn btn_radius btn-xs btn-light fw-light me-3 mb-3 ">
                            Fall
                            <a href="#" class="text-reset ms-2" role="button">
                                <i class="fa-solid fa-xmark close_btn"></i>
                            </a>
                        </span>

                        <span class="btn btn_radius btn-xs btn-light fw-light me-3 mb-3 ">
                            Black
                            <a href="#" class="text-reset ms-2" role="button">
                                <i class="fa-solid fa-xmark close_btn"></i>
                            </a>
                        </span>

                        <span class="btn btn_radius btn-xs btn-light fw-light me-3 mb-3 ">
                            M
                            <a href="#" class="text-reset ms-2" role="button">
                                <i class="fa-solid fa-xmark close_btn"></i>
                            </a>
                        </span>

                        <span class="btn btn_radius btn-xs btn-light fw-light me-3 mb-3 ">
                            $100 - $200
                            <a href="#" class="text-reset ms-2" role="button">
                                <i class="fa-solid fa-xmark close_btn"></i>
                            </a>
                        </span>


                        <span class="btn btn_radius btn-xs btn-light fw-light me-3 mb-3 ">
                            Yellow
                            <a href="#" class="text-reset ms-2" role="button">
                                <i class="fa-solid fa-xmark close_btn"></i>
                            </a>
                        </span>


                        <span class="btn btn_radius btn-xs btn-light fw-light me-3 mb-3 ">
                            Coats and Jetkets
                            <a href="#" class="text-reset ms-2" role="button">
                                <i class="fa-solid fa-xmark close_btn"></i>
                            </a>
                        </span>


                        <span class="btn btn_radius btn-xs btn-light fw-light me-3 mb-3 ">
                            Spring
                            <a href="#" class="text-reset ms-2" role="button">
                                <i class="fa-solid fa-xmark close_btn"></i>
                            </a>
                        </span>

                        <span class="btn btn_radius btn-xs btn-light fw-light me-3 mb-3 ">
                            XXL
                            <a href="#" class="text-reset ms-2" role="button">
                                <i class="fa-solid fa-xmark close_btn"></i>
                            </a>
                        </span>

                        <span class="btn btn_radius btn-xs btn-light fw-light me-3 mb-3 ">
                            Winter
                            <a href="#" class="text-reset ms-2" role="button">
                                <i class="fa-solid fa-xmark close_btn"></i>
                            </a>
                        </span>
                    </div>
                </div>


                <!-- PRODUCT -->
                <div class="row">
                    <div class="col-6 col-md-4" ng-repeat="product in listProducts | search:keyword:['name', 'price'] | orderBy: order | limitTo:limit:begin">
                        <div class="card mb-3">
                            <div class="badge bg-dark card-badge card-badge-start text-uppercase"
                                ng-hide="product.sale == 0">{{product.sale}} %
                            </div>
                            <a href="#!detail/{{product.id}}" class="product-link">
                                <div class="card-img rounded-0 w-100">
                                    <div class="card-img-hover">
                                        <img class="card-img-back" src="{{product.image_1}}" alt="">
                                        <div class="hover-icons">
                                            <i class="fas fa-heart"></i> <!-- Icon yêu thích -->
                                            <i class="fas fa-shopping-cart"></i> <!-- Icon giỏ hàng -->
                                        </div>
                                    </div>
                                </div>

                                <div class="card-body px-0">
                                    <div class="fz">
                                        <a href="#"
                                            class="text-opacity-50 text-black-50">{{getCategoryName(product.category_id)}}</a>
                                    </div>
                                    <div class="fw-bolder">
                                        <a href="#" class="text-black fw-medium line-clamp-2">{{product.name}}</a>
                                    </div>
                                    <div class="fw-medium text-gray-400">
                                        <span class="fz text-gray-400 text-decoration-line-through"
                                            ng-hide="product.sale == 0">{{product.price | currency:'$':0}}</span>
                                        <span class="text-primary">{{ presentPrice(product) | currency:'$':0 }}</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>

                <!-- PAGINATION -->
                <nav class="d-flex justify-content-center">
                    <ul class="pagination pagination-sm text-gray-400">
                        <li class="page-item">
                            <button class="page-link page-link-arrow" ng-class="{'disabled': firstPage == 1}"
                                ng-click="changePage(firstPage - 1)">
                                <i class="fa fa-caret-left"></i>
                            </button>
                        </li>

                        <li class="page-item" ng-repeat="page in pageList()" ng-class="{ 'active': firstPage == page }">
                            <button class="page-link" ng-click="changePage(page)">{{ page }}</button>
                        </li>

                        <li class="page-item">
                            <button class="page-link page-link-arrow" ng-class="{'disabled': firstPage == totalPages()}"
                                ng-click="changePage(firstPage + 1)">
                                <i class="fa fa-caret-right"></i>
                            </button>
                        </li>
                    </ul>

                </nav>

            </div>
        </div>
    </div>
</section>